@import url(//db.onlinewebfonts.com/c/b5812d00cbaf1ed6a4e92271687b482e?family=);
@font-face {font-family: "augusta"; src: "font/Augusta.ttf"; 
    }
* {
    padding: 0;
    margin: 0;
}

.container_menu {
    width: 100%;
    margin: auto;
    background-color: transparent;
}

.menu_field {
    width: 100%;
    height: 50px;
    display:flex;/* ALINHA TUDO DENTRO DA DIV NO CENTRO DELA */
    align-items: center;
    justify-content: center;
}


.field_menu {
    width: 100%;
    height: 70px;
    border-bottom: 1px #403424;
}


.menu {
    float: left;
}

#menu-img {
    width: 30%;
    height: 70px;
    margin-top: 10px;
}

#menu-opt {
    width: 70%;
    height: 70px;

}

.menu_conc {
    width: 100px;
    height: 70px;
    margin-left: 40px;
    float: right;
    display: flex;/* ALINHA TUDO DENTRO DA DIV NO CENTRO DELA */
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu_conc a {
    text-decoration:double;
    margin-left: -1500px;
    color: rgb(227, 220, 212);

}

.menu_conc a:hover {
    cursor: pointer;
    text-decoration: underline rgb(255, 255, 255);
    text-align: center;
}

body {
    background: no-repeat url(https://image.api.playstation.com/vulcan/img/rnd/202010/2614/O2Z66UWrZH8zcejxopwWxhGu.png?w=1920&thumb=false);
    
}

h1{
    color: #ffffff;
    font-size: 40px;
    width: auto;
    height: 60px;
    background-color: transparent;
    margin-left: 40px;
    font-family: Augusta;
}

.Edicoes > h1 {
    margin-left: 870px;
    font-family: Augusta;
    color: #ffffff;

}

.container {
    
    width:1800px;
    height: 533px;
    display: grid;
    grid-template-columns: 30px 40px 40px;
    margin-top: 150px;
}

.edit1 {
   
    width: 314px;
    height: 533px;
    color: white;
    margin-top: 0px;
    margin-left: 100px;

}

.edit1 > h2 {
    width: 314px;
}

.preco {
    text-align: center;
}

.edit1 > button {

    background-color: rgb(219, 68, 18);
    color: white;
    height: 50px;
    width: 314px;
    margin-top: 30px;
    border-radius:40px;
    font-family: sans-serif;
    }

 h2 {
    color: #ffffff;
}
h3 {
    color: #ffffff;
    font-family: sans-serif;
}

.edit2 {
    
    width: 314px;
    color: white;
    margin-left: 750px;
    margin-bottom: 200px;
}

.edit2 > h2 {
    width: 314px;
    text-align: center;
} 

.preco2{
    text-align: center;
}

.edit2 > button {

    background-color: rgb(219, 68, 18);
    color: white;
    height: 50px;
    width: 314px;
    margin-top: 30px;
    border-radius:40px;
    font-family: sans-serif;
    }

.edit3 {
    
    width: 314px;
    color: white;
    margin-left: 1400px;
    margin-bottom: 200px;
}

.edit3 > h2 {
    width: 314px;
    text-align: center;
} 

.preco3 {
    text-align: center;
}

.edit3 > button {

    background-color: rgb(219, 68, 18);
    color: white;
    height: 50px;
    width: 314px;
    margin-top: 30px;
    border-radius:40px;
    font-family: sans-serif;
    }


.login_menu {
    width: 320px;
    height: 420px;
    background:  rgba(46, 39, 39, 0.677);
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    border-radius: 50px;
    padding: 70px 30px;
}

.avatar {
   width: 100px;
   height: 100px;
   border-radius: 50px;
   position: absolute;
   top: -10%;
   left: calc(50%  - 50px); 
   background-color:  rgba(46, 39, 39, 0.677);
   
}

.login_menu  > h1 {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 30px;
    font-family: Augusta;
}

.login_menu a{
    color: #007ff5;
}

.login_menu p{
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 20px;
}

.login_menu input{
    width: 100%;
    margin-bottom: 20px;
}

.login_menu input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.login_menu input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #474b64;
    color: rgb(246, 247, 245);
    font-size: 30px;
    border-radius: 50px;
    font-family: Augusta;
}

.login_menu input[type="submit"]:hover 
{
    cursor: pointer;
    background: #474b64;
    color: rgb(248, 245, 245, 0.403);
}

.exp{
    text-align: center;
    margin-top: 60px;
    margin-left: 100px;
    display: inline-table;

}

.descbox{
    font-size: 25px;
    width: 350px;
    height: 500px;
    background: rgba(34, 32, 32, 0.699);
    color: rgb(199, 199, 199);
    position: absolute;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    margin-left: -180px;
}

.quadrado > h1 {
    width: 430px;
    height: 42px;
    margin-top: 70px;
    margin-left: 0;
    text-align: center;
    font-family: Augusta;
    color: #c5ac87;
}
.quadrado >  h2 {
    font-family: Augusta;
    width: 323px;
    margin-top: 10px;
    margin-left: 5px;
    color: #c5ac87;
}

.quadrado > h3 {
    height: 304px;
    width: 430px;
    margin-top: 10px;
    font-family: Augusta;
    position: relative;
    color: #c5ac87;
}

.Esp > h1{
    width: 430px;
    height: 42px;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    font-family: Augusta;
    color: #c5ac87;
}

.Esp > h3 {
    width: 430px;
    height: 197px;
    margin-top: 10px;
    font-family: Augusta;
    color: #c5ac87;    
}

.Req > h1{
    width: 430px;
    height: 42px;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    font-family: Augusta;
    color: #c5ac87; 
}

.Req > h3 {
    width: 430px;
    height: 43px;
    margin-top: 10px;
    font-family: Augusta;
    color: #c5ac87;
}

.vid {
 position: absolute;
 margin-top: -653px;
 margin-left: 550px;
}

.bk {
    background-repeat: repeat-x;
    background-color: #007ff5;
}

.descsobre {
    font-size: 25px;
    width: 80%;
    height: 4500px;
    background: rgba(34, 32, 32, 0.226);
    color: rgb(227, 220, 212);
    position: absolute;
    box-sizing: border-box;
    text-align: left;
    line-height: 150%;
    display: inline-block;
    left: 10%;
    top: 120%;
    
}

.content{
    color: rgb(227, 220, 212);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    font-family: "Augusta";
}


.introd{
    position: absolute;
    top: 15%;
    left: 40px;
    color: rgb(227, 220, 212);
    border: rgb(0, 0, 0);
    width: 40%;
    height: 60.5%;
    font-size: 22px;
    background-color: rgba(34, 32, 32, 0.623);
    font-family: "Augusta";
}

.titulo{
    font-size: 30px;
    font-family: "Augusta";
    text-align: center;
}



